@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: -3px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.slick-next {
  display: none !important;
}
.slick-arrow {
  display: none !important;
}
.slick-dots li button::before {
  content: '';
  width: 10px;
  border-radius: 100%;
  height: 10px;
  background-color: #1b64ac;
}
.slick-dots li .slick-active {
  background-color: #1b64ac;
}

.MuiInputBase-input {
  padding: 8px !important;
}

/* .cv-page {
  background-image: url('/src/assets/CVSection/CVBanner.svg');
  background-position: center;
  background-size: cover;
} */
/* <div className="relativ cv-page flex w-full justify-center md:h-[500px]">
        <div className=" my-auto flex flex-col items-center justify-center space-y-3 p-6 text-white">
          <h1 className="mb-4 text-center text-xl font-bold md:text-4xl">
            Créez votre CV professionnel avec facilité
          </h1>
          <p className="mb-8 max-w-2xl text-justify text-xs md:text-lg xl:text-xl">
            Découvrez des astuces et des conseils pour créer un CV remarquable
            qui attire l'attention des employeurs potentiels. De la mise en
            forme au contenu, nous vous guidons à chaque étape.
          </p>

          {/* <button className="rounded-[100px] bg-[linear-gradient(94.29deg,#3FB9DF_7.7%,#374AF4_98.45%)] px-4 py-2  font-semibold shadow-[0px_8px_16px_rgba(0,0,0,0.15)] md:px-10 md:py-5 md:text-lg xl:text-xl">
            Discutons
          </button> */
/* </div> */
/* </div> */
